name: Deploy JupyterLite

on:
  push:
    branches: ['**']

permissions:
  contents: write

jobs:
  deploy:
    uses: DurhamARC-Training/PythonCourse-jupyterlite/.github/workflows/deploy-jupyterlite.yml@github-action-branches
    secrets: inherit

